/* Write your CSS here! */
body{
    background-color: rgb(197, 191, 183);
    margin: 8px;
    display: block;
}
header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: fixed;
	left: 0;
	top: 0;
    font-size: 40px;
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(151, 8, 120);
    border-bottom: 2px solid black;
	clear: both;
    width: 100%;
    text-align: center;
}
main {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    width: 80%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}
#testP {
    color:navy;
}
.funParagraph{
    color: green;
    text-shadow: 1px 1px;
}
#mainHeading{
    color: red;
    text-shadow: 2px 2px rgb(151, 8, 120);
    font-variant: small-caps;
}
.headerClass{
    text-shadow: 1px 1px cadetblue;
    font-variant: small-caps;
}
h1{
    font-size: 40px;
    text-decoration: underline;
}
h4{
    font-size: 30px;
}
p {
    margin-left: 30px;
    font-size: 24px;
}
article{

    width: 40%;
    background-color: beige;
    border-style: double;
    float: right;
}
article p{
    margin-left: 0px;
    font-size: 15px;
    text-align: center;
}
#articleHead {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 20px;
    clear: both;
    text-align: center;
}
img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: double;
    
}
footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top: 2px solid black;
	clear: both;
	vertical-align: bottom;
	width: 100%;
	background-color: cadetblue;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
    word-spacing: 10px;
}